*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav {
  background-color: gray;
  height: 200px;
  width: 100%;
  margin: 0px;
}

.main-nav .main{
  position: relative;
}

.main-nav {
	z-index: 150;
	margin-bottom: 30px;
	list-style: none;
	padding: 10px 0;

}

nav ul {
  margin: 0 20px;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.main-nav a {
	font-weight: normal;
	font-size: 2em;
	color: white;
	text-decoration: none;
	font-family: Calibri;
	font-weight: bold;
	text-transform: uppercase;
}

#slides {
  display: none;
}
