*, *:before, *:after {
  box-sizing: inherit;
}

html body {
  margin: 0;
  height: 100%;
}

body {
  padding-top: 220px;
}

nav {
  background-color: #FFFFFF;
  height: 120px;
  width: 100%;
  border-bottom: solid black 3px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.main-nav {
  z-index: 150;
  list-style-type: none;
  position: fixed;
  margin-right: 150px;
  margin-top: 75px;
  padding: 0px 0;
}


.main-nav a {
	font-weight: normal;
	font-size: 35px;
	color: gray;
	text-decoration: none;
	font-family: Raleway, sans-serif;
	font-weight: 300px;
	text-transform: uppercase;
  margin: 0 10px;
}

ul li {
  display: inline;
}

a:hover {
  color: red;
}

img#logo {
  display: block;
  height: 122px;
  width: 140px;
  float: left;
  margin-left: 820px;
}

.clearit {
  clear: both;
}

h1 {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  float: right;
  margin-right: 100px;
}

main p {
  font-family: Raleway, sans-serif;
  font-size: 20px;
}

div#name {
  display: block;
  margin-left: 100px;
  margin-right: 10px;
  text-align: center;
}

img#pyramid {
  display: block;
  height: 520px;px;
  width: 750px;
  position: absolute;
  margin-bottom: 100px;
}

#slides {
  display: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}