*, *:before, *:after {
  box-sizing: inherit;
}

html body {
  margin: 0;
  height: 100%;
}

body {
  padding-top: 220px;
}

nav {
  background-color: #FFFFCC;
  height: 220px;
  width: 100%;
  border-bottom: solid black 3px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.main-nav {
	margin-bottom: 0px;
	padding: 10px 0;
    list-style-type: none;
    position: absolute;
    margin-left: 500px;
    margin-top: 25px;
}


.main-nav a {
	font-weight: normal;
	font-size: 1.6em;
	color: gray;
	text-decoration: none;
	font-family: Raleway, sans-serif;
	font-weight: 300px;
	text-transform: uppercase;
}

a:hover {
  color: red;
}

img#logo {
  display: block;
  height: 210px;
  width: 200px;
  float: left;
  margin-left: 300px;
}

.clearit {
  clear: both;
}

h1 {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  float: right;
  margin-right: 100px;
}

main p {
  font-family: Raleway, sans-serif;
  font-size: 20px;
}

div#name{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  height: 100px;
  padding-top: 0px;
}

img#pyramid {
  display: block;
  height: 520px;px;
  width: 750px;
  position: absolute;
  margin-bottom: 100px;
}

#slides {
  display: none;
}
