body {
  background-color: pink;
}

nav {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  color: gray;
  margin-top: 0;
  font-size: 100px;
  display: block;
  position: absolute;
  top: 17px;
  padding-left: 2px;
  float: left;
}

h2 {
  font-family: sans-serif;
  font-style: cursive; 
  color: gray; 
  position: absolute;
  left: 20px;
  top: 120px;
}

p#headshot {
  position: absolute;
  top: 175px;
  left: 100px;
}

p#intro {
  font-size: 25px; 
  color: #515A5A; 
  font-family: sans-serif; 
  position: absolute;
  bottom: 100px;
  right: 370px;
}

nav#links{
  position: absolute;
  bottom: -50px;
  right: 200px;
}

* {
  color: white;
  font-size: 20px;
  font-style: bold;
  font-family: sans-serif;
}

