body {
  background-color: pink;
  color: white;
  font-size: 20px;
  font-style: bold;
  font-family: sans-serif;
  padding: 30px;
}

nav {
  font-family: sans-serif;
}

header {
  border-bottom: 10px solid #f2f2f2;
}

h1 {
  font-family: sans-serif;
  color: gray;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 100px;
}

h2 {
  font-family: sans-serif;
  font-style: cursive; 
  color: gray;
  margin-top: 0px; 
}

div#headshot {
  float: left;
  margin-top: 20px;
}

div#description {
  height: 320px;
}

section#intro {
  font-size: 25px; 
  color: #515A5A; 
  font-family: sans-serif; 
  float: left;
  width: 350px;
  margin-left: 20px;
  margin-top: 40px;
  text-align: center;
}

nav#links{
  padding-top: 30px
}

.clearfix {
  clear: both;
}

img.socialmedia {
  width: 50px;
  height: 50px;
}

hr {
  border: 5px solid #f2f2f2;
}
