body {
  background-color: pink;
}

h1 {
  font-family: Serif;
  color: gray;
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid gray;
}

h2 {
  font-family: sans-serif; 
  color: gray; 
  text-align: center;
}

p#headshot {
  text-align: center;
  float: left;
  margin-left: 350px;
}

img {
  border: 3px solid gray;
}

p#intro {
  font-size: 25px; 
  color: #515A5A; 
  font-family: Times; 
  float: left;
  width: 350px;
  margin-left: 20;
  text-align: center;
}

nav {
  text-align: center;
}

* {
  color: white;
  font-size: 20px;
  font-style: bold;
  font-family: Times;
}
