body {
  background-color: pink;
}

nav {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  color: gray;
  margin-top: 0;
  font-size: 100px;
  position: absolute;
  top: 45px;
  padding-left: 2px;
  float: left;
}

h2 {
  font-family: sans-serif;
  font-style: cursive; 
  color: gray; 
  position: absolute;
  left: 30px;
  top: 135px;
}

p#headshot {
  position: absolute;
  top: 175px;
  left: 100px;
}

p#intro {
  font-size: 25px; 
  color: #515A5A; 
  font-family: sans-serif; 
  margin-top: 250px;
  margin-bottom: 300px;
  text-align: center;
}

nav#links{
  position: absolute;
  top: 100px;
  right: 200px;
}

* {
  color: white;
  font-size: 20px;
  font-style: bold;
  font-family: sans-serif;
}

hr {
  color: #ffffff;
  border-width: 5px;
  margin-bottom: 0;
  margin-top: 10;
}

