h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 8px
  margin-bottom: 8px;
}

header {
  border: 5px solid black;
  border-radius: 10px;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 48px;
  width: 80%;
  max-width: 1024px;
}

.mybutton {
  /* light purple */
  background color: #d9b3ff;
  border: none;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid #d9b3ff;
  width: 175px;
  border-radius: 10px;
}

footer {
    padding: 16px;
}


footer nav a {
    display: block;
    background-color: #007700;
    color: #EEEEEE;
    padding: 16px;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
}

footer nav a:hover {
    background-color: #00AA00;
}

a#navprevious {
    float: left;
}

a#navhome {
    width: 1%;
    margin-left: auto;
    margin-right: auto;
}

a#navnext {
    float: right;
}

.clearfix {
    clear: both;
}

